html {
  font-size: 14pt;
  overflow-x: hidden;
}

body {
  background: #333333;
  color: white;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.4rem;
}

h1,
h2 {
  color: #2aaae3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 2rem;
}

/* navigation */
ul {
  list-style: none;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.5rem;
}

/* navigation */
li a {
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  color: #b4b4b4;
}

a {
  text-decoration: none;
}

img {
  height: 128px;
  width: 128px;
}

#content-wrap {
  padding-bottom: 2.5rem; /* footer height */
}

#email-link {
  color: #2aaae3;
}

#footer {
  bottom: 0;
  height: auto;
  position: relative;
  width: 100%;
}

#mission-info {
  max-width: 50%;
  text-align: justify;
}

#mission-info--columns {
  -moz-column-count: 3; /* Firefox */
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  column-count: 3;
  text-align: justify;
}

#page-container {
  min-height: 100vh;
  position: relative;
}

#trademark {
  font-size: 0.75rem;
  text-align: center;
}
