html,
body {
  background: white;
  color: #333333;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 14pt;
  height: 100%;
  line-height: 1.5rem;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  color: #2aaae3;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 2rem;
}

p {
  margin-top: 0em;
}

a {
  text-decoration: none;
}

img {
  height: 128px;
  width: 128px;
}

address {
  font-size: 0.9rem;
}

#content-wrap {
  margin-bottom: 2.5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
  position: relative;
}

#email-link {
  color: #2aaae3;
}

#mission-info {
  column-count: 3;
  column-fill: auto;
  column-gap: 4rem;
  column-rule: 1px dotted #ddd;
  column-width: 200px;
  position: relative;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}

#mission-info--header,
#mission-info--footer {
  column-span: all;
  text-align: center;
}

#page-container {
  min-height: 100vh;
  position: relative;
}

#site-footer {
  background: #333333;
  color: white;
  height: auto;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

#site-header {
  background: #333333;
  color: white;
  height: auto;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
  width: 100%;
}

#trademark {
  font-size: 0.75rem;
  text-align: center;
}
